-# coding: UTF-8
%nav.topbar.container
  %ul{:class => "nav nav-pills"}
    %li
      %a{:href => "#{@navbar_path}home"}!="#{t 'nav.home'}"      
    %li{:class => "dropdown bar"} 
      %a.dropdown-toggle{:'data-toggle' => "dropdown", :href =>"#"}
        !="#{t 'nav.about_us'}"
        %b.caret
      %ul.dropdown-menu
        %li 
          %a{:href => "#{@navbar_path}about"}!="#{t 'nav.dropdown-about.about'}" 
        %li
          %a{:href => "#{@navbar_path}about#history"}!="#{t 'nav.dropdown-about.history'}"
        %li
          %a{:href => "#{@navbar_path}about#board"}!="#{t 'nav.dropdown-about.board'}" 
        %li
          %a{:href => "#{@navbar_path}about#legal_office"}!="#{t 'nav.dropdown-about.legal_office'}"
        %li
          %a{:href => "#{@navbar_path}about#management"}!="#{t 'nav.dropdown-about.management'}"
        %li
          %a{:href => "#{@navbar_path}about#budget"}!="#{t 'nav.dropdown-about.budget'}"
        %li
          %a{:href => "#{@navbar_path}about#sec"}!="#{t 'nav.dropdown-about.sec'}"
        %li
          %a{:href => "#{@navbar_path}about#sysops"}!="#{t 'nav.dropdown-about.sysops'}"
        %li
          %a{:href => "#{@navbar_path}about#hr"}!="#{t 'nav.dropdown-about.hr'}"
    %li{:class => "dropdown bar"} 
      %a.dropdown-toggle{:'data-toggle' => "dropdown", :href =>"#{@navbar_path}areas"}
        !="#{t 'nav.areas'}"
        %b.caret
      %ul.dropdown-menu
        %li 
          %a{:href => "#{@navbar_path}areas#water"}!="#{t 'nav.dropdown-areas.water'}"
        %li 
          %a{:href => "#{@navbar_path}areas#land"}!="#{t 'nav.dropdown-areas.land'}"
        %li 
          %a{:href => "#{@navbar_path}areas#air"}!="#{t 'nav.dropdown-areas.air'}"
        %li 
          %a{:href => "#{@navbar_path}areas#noise"}!="#{t 'nav.dropdown-areas.noise'}"
        %li 
          %a{:href => "#{@navbar_path}areas#env911"}!="#{t 'nav.dropdown-areas.env911'}"
        %li 
          %a{:href => "#{@navbar_path}areas#sci"}!="#{t 'nav.dropdown-areas.sci'}"
        %li 
          %a{:href => "#{@navbar_path}education#library"}!="#{t 'nav.dropdown-education.library'}"
        %li 
          %a{:href => "#{@navbar_path}strategic"}!="#{t 'nav.dropdown-areas.strategic'}"
        %li 
          %a{:href => "#{@navbar_path}education#eduinstitute"}!="#{t 'nav.dropdown-education.edu_institute'}"
        %li 
          %a{:href => "#{@navbar_path}areas#lab"}!="#{t 'nav.dropdown-areas.lab'}"
        %li 
          %a{:href => "#{@navbar_path}regional_field_offices"}!="#{t 'nav.field_offices'}"
        %li 
          %a{:href => "#{@navbar_path}grievances#"}!="#{t 'nav.grievances'}"
    %li{:class => "dropdown bar"} 
      %a.dropdown-toggle{:'data-toggle' => "dropdown", :href => "#"}
        !="#{t 'nav.press_and_news'}"
        %b.caret
      %ul.dropdown-menu
        %li
          %a{:href => "#{@navbar_path}press"}!="#{t 'nav.dropdown-press.press'}"
        %li 
          %a{:href => "#{@navbar_path}calendar"}!="#{t 'nav.dropdown-press.calendar'}"
        %li 
          %a{:href => "#{@navbar_path}communications/important_affairs"}!="#{t 'nav.dropdown-press.important_issues'}"
        %li 
          %a{:href => "#{@navbar_path}communications/auction_notices"}!="#{t 'nav.dropdown-press.auction_notices'}"
        %li 
          %a{:href => "#{@navbar_path}communications/grievance_reports"}!="#{t 'nav.dropdown-press.grievance_reports'}"
        %li 
          /TODO: ADD HAML for this page /pdfs/communications/environmental_reports
          %a{:href => "#{@navbar_path}env_reports"}!="#{t 'nav.dropdown-press.env_reports'}"
        %li 
          %a{:href => "#{@navbar_path}communications/resolutions"}!="#{t 'nav.dropdown-press.resolutions'}"
        %li
          %a{:href => "#{@navbar_path}communications/presentations"}!="#{t 'nav.dropdown-press.presentations'}"
    %li{:class => "dropdown bar"} 
      %a.dropdown-toggle{:'data-toggle' => "dropdown", :href => "#"}
        !="#{t 'nav.permits'}"
        %b.caret
      %ul.dropdown-menu
        %li
          %a{:href => "#{@navbar_path}permits/general"}!="#{t 'nav.dropdown-permits.general'}"
        %li
          %a{:href => "#{@navbar_path}permits/water"}!="#{t 'nav.dropdown-permits.water'}"
        %li
          %a{:href => "#{@navbar_path}permits/air"}!="#{t 'nav.dropdown-permits.air'}"
        %li
          %a{:href => "#{@navbar_path}permits/land"}!="#{t 'nav.dropdown-permits.land'}"
    %li{:class => "dropdown bar"} 
      %a.dropdown-toggle{:'data-toggle' => "dropdown", :href => "#"}
        !="#{t 'nav.laws_and_regulations'}"
        %b.caret
      %ul.dropdown-menu
        %li
          %a{:href => "#{@navbar_path}laws_and_regulations/proposed"}!="#{t 'nav.dropdown-laws.proposed'}"
        %li
          %a{:href => "#{@navbar_path}laws_and_regulations/laws"}!="#{t 'nav.dropdown-laws.laws'}"
        %li
          %a{:href => "#{@navbar_path}laws_and_regulations/regulations"}!="#{t 'nav.dropdown-laws.regulations'}"
    %li{:class => "dropdown bar"} 
      %a.dropdown-toggle{:'data-toggle' => "dropdown", :href => "#"}
        !="#{t 'nav.anual_reports'}"
        %b.caret
      %ul.dropdown-menu
        %li
          %a{:href => "#{@navbar_path}dias/all"}!="#{t 'nav.anual_reports'}"
        %li
          %a{:href => "#{@navbar_path}dias/2013"}2013
        %li 
          %a{:href => "#{@navbar_path}dias/2012"}2012
        %li 
          %a{:href => "#{@navbar_path}dias/2012"}2012
        %li 
          %a{:href => "#{@navbar_path}dias/2011"}2011
        %li 
          %a{:href => "#{@navbar_path}dias/2010"}2010
        %li 
          %a{:href => "#{@navbar_path}dias/2009"}2009
        %li 
          %a{:href => "#{@navbar_path}dias/2008"}2008
        %li
          %a{:href => "#{@navbar_path}dias/2007"}2007
        %li
          %a{:href => "#{@navbar_path}dias/2006"}2006
        %li
          %a{:href => "#{@navbar_path}dias/2005"}2005 
  / End Top Menu