-#404.haml (use for example)
.container{:style => "background-color: bisque;"}
  %h1.hero Error 404
  %h2
    !="#{t 'dont_panic'}"
  %h3  
    !="#{t 'error404'}"
%div.container
  %img{:src => "#{url '/images/404/panda.gif'}", :alt => "Panda", :height => "234px", :width => "211px"}
  %img{:src => "#{url '/images/404/cunico.png'}", :alt => "Cunico", :height => "257px", :width => "406px"}
%br
%small
  !="#{t 'page_not_found'}#{@request_url}"

:javascript
  document.title = "404"