.container
  %h1 #{t 'contact.title'}

  %p
  -#{@lang}
  #{t 'contact.phone_instructions' } 
  -if @tel_prefix['callto']
    %a{:href => "#{@tel_prefix}:+17877678181"}
      (787)-767-8181 
  -else  
    %a{:href => "#{@tel_prefix}:+17877678181;3206#"}
      (787) 767-8181
    ext-3206, ext-3208
%br
-@lang['es'] ? target = :'content/es/contact_regional_offices' : target =:'content/en/contact_regional_offices'
.container=haml_force_encoding(markdown(target))
  