:css
  /*header {
    opacity: 0.9;
  }*/
  iframe {
    border:solid 1px #777;
  }
  #myCarousel {
    padding: 10px;
  }
%body    
  .row-fluid
    %div{:class => "span12"}
      .row-fluid
        / Add padding instead of offsetting!
        %div{:class => "span8"}
          / Slide Show
          -#Slideshow partial here::
          =haml :'partials/_carousel'
        /Right Sidebar (logos)
        %div{:class => "span3"}
          %a{:href => "/airquality"}
            %img{:src => "/images/ICA.jpg", :alt => "Indice de Calidad de Aire"}
          %a{:href => "/beaches"}
            %img{:src => "/images/MP.jpg", :alt => "Monitoria de las Playas"}
          %br
  .row-fluid
    %br
    #calendar{:class => "span4 offset1"}
      / TODO set default link to iFrame to a Page requesting google login for calendar. 
      %iframe#googlecalendar{:frameborder => '0', :height => '300', :scrolling => 'no', :width => '400', :src => "/css/spinner.source.html"}
    -# The Above needs logic to handle when user is not logged in so a javascript thing.    
    %div{:class => "span4 offset1"}
      %b{:class => "btn btn-large btn-success", :src => "/images/MP.jpg", :href => "/beaches"}!="#{t 'Home.air_quality_index'}"
      %b{:class => "btn btn-large btn-success", :href => "/beaches"}!="#{t 'Home.beach_monitoring'}"
      %br
      %b{:class => "btn btn-large btn-success"}!="#{t 'Home.convocations'}"
      %br
      %b{:class => "btn btn-large btn-success"}!="#{t 'Home.contact_us'}"
      %br
    %aside
      
      %div{:class => "span 4"}   
        #markdown= markdown(:'content/home')
%footer

      