:css
  header {
    opacity: 0.9;
  }
  iframe {
    border:solid 1px #777;
  }
  #myCarousel {
    padding: 10px;
  }
%body    
  .row-fluid
    %div{:class => "span12"}
      .row-fluid
        / Add padding instead of offsetting!
        %div{:class => "span8"}
          / Slide Show
          -#Slideshow partial here::
          =haml :'partials/_carousel'
        /Right Sidebar (logos)
        %div{:class => "span3"}
          %a{:href => "/#{@lang}/airquality"}
            %img{:src => "../images/ICA.jpg", :alt => "Indice de Calidad de Aire"}
          %a{:href => "/#{@lang}/beaches"}
            %img{:src => "../images/MP.jpg", :alt => "Monitoria de las Playas"}
          %br
  .row-fluid
    %br
    #calendar{:class => "span4 offset1"}
      / TODO set default link to iFrame to a Page requesting google login for calendar. 
      %iframe#googlecalendar{:frameborder => '0', :height => '300', :scrolling => 'no', :width => '400', :src => "/spinner.source.html"}loading...
    -# The Above needs logic to handle when user is not logged in so a javascript thing.    
    %div{:class => "span4 offset1"}
      -# Buttons
      %b{:class => "btn btn-large btn-success", :onclick => "window.location.pathname = '/#{@lang}/airquality'"}!="#{t 'Home.air_quality_index'}"
      %br
      %b{:class => "btn btn-large btn-success", :onclick => "window.location.pathname = '/#{@lang}/beaches'"}!="#{t 'Home.beach_monitoring'}"
      %br
      %b{:class => "btn btn-large btn-success hide", :onclick => "console.log('convocations')"}!="#{t 'Home.convocations'}"
      %br
      %b{:class => "btn btn-large btn-success", :onclick => "window.location.pathname = '/#{@lang}/contact_us'"}!="#{t 'Home.contact_us'}"
      %br
    %aside
      
      %div{:class => "span 4"}   
        /#markdown{:style => 'background:white'}= markdown(:'content/home')
%footer

      