-# coding: UTF-8
-(@lang['en'] or @lang['es']) ? lang = @lang : lang = 'es'
%body{:height => "100%"}
  .container
    .span2.hidden-phone
    %section.span10
      =haml_force_encoding(markdown(:"content/#{lang}/press"))
      tel.
      -if @tel_prefix['callto']
        %a{:href => "#{@tel_prefix}:+17877678181"}
          (787)-767-8181 
      -else  
        %a{:href => "#{@tel_prefix}:+17877678181;6135"}
          (787)-767-8181 
      ext. 6135  
        
  .container
    .row
      .span3.hidden-phone
        %nav{:class => "contentbar navbar navbar-static", :id => "navbar_for_news", :'data-spy' => "affix", :'data-offset-top' => "#{@sidebar_offset_num + 110}"}
          %div{:class => "navbar-inner"}
            .container
              %a.brand{:href => "#"}!="#{t 'news'}"
            %nav{:class => "nav nav-list areas-sidenav affix-top"}
              -@press_title_list.reverse.take(10).each do |title|
                %li
                  %a{:href => "##{sanitize(title)}"}!="#{haml_force_encoding(title)}"
      %section.span9#spyon{:'data-spy' => "scroll", :'data-offset' => "0"}
        -acc = @press_title_list.size
        -# This needs to be refactored!! ::TODO the markdown command feeds of the location of the views command !
        -@file_list.reverse.each do |file|
          %article{:id => "#{sanitize(@press_title_list.at(acc - 1))}"}= haml_force_encoding(markdown(:"#{@press_path_relative_to_views}#{file}")) #Relative to Views folder
          -acc -= 1
          %hr
      / 


